@using EntityLayer.Concrete
@model List<Contact>

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/dist/css/msg.css" rel="stylesheet" />
</head>
<body>
    <br />
    <br />
    <center>
        <h2>Mesajlar</h2>
        <p>İletişim formundan gönderilen mesajlar.</p>
    </center>
    <br />

    @foreach (var item in Model)
    {
        <div class="container">
            <img src="~/dist/images/user.jpg" alt="Avatar" style="width:90px">
            <p><span style="color: darkmagenta">@item.NameSurname</span><span style="font-size: 16px; color: deepskyblue">@item.Subject</span><strong style="color: darkgray; font: small">@item.Mail</strong></p>
            <p>@item.Message</p>

            <label style="color: lightseagreen">@item.Date.ToShortDateString()</label>
            <label style="color: darkseagreen">@item.Date.ToShortTimeString()</label>
        </div>
    }
</body>
</html>